* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.btn-calculate {
  width: 250px;
  margin-bottom: 50px;
}

.markup {
  background-color: grey;
  width: 600px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 550px;
  height: 220px;
  border-radius: 15px;
  padding: 20px;
}

.message {
  display: flex;
  flex-direction: row;
}

.message-img {
  height: 70px;
  width: 70px;
  background-color: lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  height: 43px;
}

.message-text {
  width: 60%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  margin: 5px 20px;
}

.title,
.text,
.date {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 17px;
  font-weight: 400;
  color: rgb(136, 136, 136);
}

.date {
  color: rgb(181, 181, 181);
}

.message-close {
  width: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.close-icon {
  height: 35px;
}

.actions {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.details {
  margin-right: 15px;
  height: 40px;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.submit {
  margin-right: 15px;
  height: 40px;
  padding: 10px 15px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
